$test-color: red;

$color-brand-background-grey: #FCFAFF;
$color-brand-background-black: rgba(0,0,0,0.99);

$color-brand-primary-black: #000000;
$color-brand-primary-black-text: #181818;
$color-brand-primary-black-h2: #2E2E2E;
$color-brand-primary-white: #FFFFFF;

$color-brand-link-blue: #007BFF;
$color-brand-button-blue: #2C65FF;
$color-brand-button-blue-hover: #0056B3;

